button{
  color: black;
}

.delete:hover{
  background-color: #ff7676d2;
  color:white;
  border-bottom: solid 2px #d1cece;
}


.delete{
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  background-color: #ff76763d;
  color: #666666;
  margin-left: 5px;
  cursor: pointer;
}
