ul {
    list-style: none;
}

a {
    color: #f5f5f5;
    text-decoration: none;
}

.footer {
    position:relative;
    bottom: 0;
    width: 100%;
    color: #f5f5f5;
    background-color: #555555;
    height:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.footer-about-us {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-bottom: 10px; */
}

.footer-copy-right {
    justify-content: center;
    margin-bottom: 20px;
    font-size: x-small;
}

.footer-info {
    display: flex;
    justify-content: center;
}

.footer-info-tuttle,
.footer-info-daniel,
.footer-info-mitch,
.footer-info-karl {

    font-size: x-small;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 40%;

}

