.wrapper-class{
  padding: 10px;
  border: solid black 1px;
}
.editor-class{
  border: solid black 1px;
  height: 200px;
}

.step-container{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-top: 1px solid rgb(182, 182, 182);
  margin-bottom: 30px;
}

.step-placeholder{
  padding: 10px;
  border: solid black 1px;
  height: 50px;
  text-align: left;
}

.step-buttons{
  display: flex;
  flex-direction: column;
}

.cheatsheet-title {
  position: absolute;
  top: 100px;
  left: 40%;
  margin-top: 30px;

}

.cheatsheet-description {
  font-size: 20px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
}

.cheatsheet-page-author {
  font-size: 12px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
  color: grey;
}

.cheatsheet-dependencies {
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid black;
}

.img-container {
  width: 100%;
  height: 400px;
  margin-bottom: 50px;

}

.cheatsheet-page-img {
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  border-radius: 5px;
  width: 60%;
  height: 400px;
  position: absolute;
  left: 20%;
}

button {
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  /* border: 1px solid #CCCCCC; */
  background-color: #faac18;
  border: 1px solid #e5991e;
  color: white;
  margin-left: 5px;
  cursor: pointer;
  z-index: 66;
}

button:hover {
  opacity: .5;
}

.errors{
  color: red;
}

.cheatsheet-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.edit-step-header {
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

input#title, input#description, input#dependencies, input#image {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
}

div.form-input {
  width: 100%;
}


.existing-image{
  height: 3em;
  width: 3em;
}

.remove-restore-image{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid #CCCCCC 1px;
  border-radius: 5px;
}

#media_url{
  width: 100%;
  margin-bottom: 2px;
  border-radius: 5px;
}

#media_url_input{
  width: 100%;
  margin-bottom: 2px;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
}

.new-cheatsheet-button {
  border: 1px solid #e5991e;
  margin-top: 10px;
}

button.publish-modal-button:hover {
  text-decoration: underline;
}
