.search_input {
    width: 200px;
    height:25px;
    border-radius: 5px;
    border: .5px solid;

}
.search_input::placeholder {
    color: #bbb9b9;
}

button.search-btn {
    background-color: #FAAC18;
    color: #fcfcfc;
    padding: 5px 10px;
}

.search-btn:hover {
    background-color: #da9618;
    color: white;
}

.logout-button {
    background-color: #bbb9b9;
    color: black;
}
