.comments_container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.view_comments {
    display: flex;
    justify-content: center;
    background-color: aqua;

}
.posted_comments_container{
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    justify-content: space-between;
    background-color: aqua;



}

.posted_comments {
    display: flex;
    position: relative;
    flex-direction: row;
    list-style: none;
    background-color: yellow;

}

.edit_delete_box {
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: pink;

}
