.comments_container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.view_comments {
    position: absolute;
    justify-content: center;
    left: 30%;

}

.posted_comments {
    list-style: none;
}
