* {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.nav-container {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
}

.navbar {
    justify-content: space-between;
    background-color: #555555;
    margin: 0px 0px 0px -10px;
    padding: 10px 20px;
    width: 100%;
    list-style: none;
}

.navbar li {
    display: inline;
    margin-left: 100px;
}

.navbar li a {
    color: white;
    list-style: none;
    text-decoration: none;
}

.login-signup-links {
    margin-right: 60px;
    margin-top: 3px;
}

.session-links {
    float: right;
    margin-right: 20px;
}

.session-links a {
    margin-right: 10px;
}

.session-links button {
    border-radius: 5px;
    margin-right: 30px;
    margin-top: -10px;
    border: 1px solid white;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

.navbar_bottom {
    list-style: none;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    height: 80px;
    background-color: #eeeeee;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0;

}

.navbar_right {
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 40px;
}

.publish_btn{
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    background-color: white;
    margin-right: 5px;
    cursor: pointer;
}

.logo a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 25px;
}

.search_bar {
    border: 1px solid #CCCCCC;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}
