* {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar {
    background-color: #555555;
    margin: -8px 0px 0px -10px;
    padding: 10px 20px;
    width: 100%;
    list-style: none;
}

.navbar li {
    display: inline;
    margin-left: 100px;
}

.navbar li a {
    color: #CCCCCC;
    list-style: none;
    text-decoration: none;
}

.login-signup-links {
    margin-right: 60px;
    margin-top: 3px;
}

.session-links {
    float: right;
    margin-right: 20px;
}

.session-links a {
    margin-right: 10px;
}
