.edit-step-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edit-step-header {
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

input#title, textarea#content, input#media_url {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.edit-step-submit {
    float: right;
}

.edit-step-modal-btn {
    background-color: #faac18;
    border: 1px solid #e5991e;
}

.edit-step-modal-btn:hover {
    opacity: .5;
}
